@tailwind base;
@tailwind components;
@tailwind utilities;

/* styles/globals.css */

.shine-wrapper {
  position: absolute;
  overflow: hidden;
  border-radius: 9999px;
}

.shine-wrapper::after {
  content: '';
  position: absolute;
  top: 0;
  left: -120%;
  width: 40%; /* Decreased from 60% to 40% */
  height: 100%;
  background: linear-gradient(
    115deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.25) 50%,
    rgba(255, 255, 255, 0) 100%
  );
  transform: skewX(-20deg);
  animation: shineEffect 2.5s ease-in-out infinite;
  pointer-events: none;
}

@keyframes shineEffect {
  0% {
    left: -120%;
  }
  60% {
    left: 100%;
  }
  100% {
    left: 100%;
  }
}


.chat-container {
  width: 400px;
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 5px;
  background-color: #fff;
}

.messages {
  max-height: 300px;
  overflow-y: auto;
  margin-bottom: 10px;
}

.message {
  padding: 5px;
  border-bottom: 1px solid #eee;
}

.options {
  margin-bottom: 10px;
}

.orangg{
  background: #f38a59;
}
.orangg-text{
  color: #eb804f;
}
.greenn{
  background: #013837;
}
.textg{
  color:#024443;
}

.yell{
  background: #f8f7f1;
}

.yelll{
  background: #f8f7f4;
}
/* Hide scrollbar for webkit browsers */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for Firefox */
.scrollbar-hide {
  scrollbar-width: none; /* for Firefox */
}
