@tailwind base;
@tailwind components;
@tailwind utilities;

/* styles/globals.css */



.chat-container {
  width: 400px;
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 5px;
  background-color: #fff;
}

.messages {
  max-height: 300px;
  overflow-y: auto;
  margin-bottom: 10px;
}

.message {
  padding: 5px;
  border-bottom: 1px solid #eee;
}

.options {
  margin-bottom: 10px;
}

.orangg{
  background: #f38a59;
}
.orangg-text{
  color: #eb804f;
}
.greenn{
  background: #013837;
}
.textg{
  color:#024443;
}

.yell{
  background: #f8f7f1;
}

.yelll{
  background: #f8f7f4;
}
/* Hide scrollbar for webkit browsers */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for Firefox */
.scrollbar-hide {
  scrollbar-width: none; /* for Firefox */
}
